@charset "UTF-8";
body{
	margin:0;
	padding:0;
	box-sizing:border-box;	
}
main{	
	width:1200px;
	min-height:400px;
	margin:30px auto;
	border:3px outset #aaa;
	padding:20px;
	border-radius:15px;	
	box-shadow:3px 3px 5px #999;
}
main>.main_title{
	font-size:25px;
	font-weight:bolder;
	text-align:center;
	margin-bottom:20px;
}
main>form{
	width:320px;
	float:left;
	background-color:#ccc;
	border-radius:10px;
	padding:20px;
}
form>span{
	display:inline-block;
	width:80px;
}
form>input[name=id]{
	width:100px;
}
form>input[name=name]{
	width:120px;
}
#list{
	float:right;
	width:800px;
}
#list>#title{
	background-color:#444;
	color:#fff;
	padding:2px 30px;
	border-radius:5px;
}
#list span{
	display:inline-block;
}
#list span.id{width:200px;}
#list span.subject{width:220px;}
#list span.grade{width:280px;}
#items{
	padding:2px 30px;
}
#items>div:last-child{
	border-bottom:2px dotted #aaa;
}
#items>.item:hover{
	background-color:#ddd;
	cursor:pointer;
}
#avg>#space{
	width:28px;
}
#aaaa{
	width:30px
}





















